.container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #barChart, #pieChartLibrosPublicados, #pieChartGeneroAutores, #lineChart {
    margin-bottom: 20px;
  }
  
  button.btn-primary {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
  