<div class="sidebar">
    <div class="sidebar-header">
      <img src="assets/logo.png" alt="Logo" class="sidebar-logo">
    </div>
    <ul class="nav flex-column mt-4">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
          <img src="assets/sidebar/dashboard-icon.png" alt="Dashboard" width="20" height="20">
          <span class="d-none d-lg-inline">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/autores" routerLinkActive="active">
          <img src="assets/sidebar/authors-icon.png" alt="Autores" width="20" height="20">
          <span class="d-none d-lg-inline">Autores</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/libros" routerLinkActive="active">
          <img src="assets/sidebar/books-icon.png" alt="Libros" width="20" height="20">
          <span class="d-none d-lg-inline">Libros</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <a class="nav-link d-flex align-items-center justify-content-center" href="#">
        <img src="assets/logout.png" class="logout-icon" alt="Logout">
      </a>
    </div>
  </div>
  